<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>ConfigurationSetting</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.ConfigurationSettingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.LoginServiceImpl</servlet-class>
    <init-param>
    		<description>
    		Choices include:
			database (default):  Usernames and passwords directly in the DB
			imap: authenticate against an imap server
    		</description>
		<param-name>loginService</param-name>
		<param-value>imap</param-value>
	</init-param>
	<init-param>
		<param-name>host</param-name>
		<param-value>mail.knox.edu</param-value>
	</init-param>
	<init-param>
		<param-name>transport</param-name>
		<param-value>smtps</param-value>
	</init-param>
	<init-param>
		<param-name></param-name>
		<param-value></param-value>
	</init-param>
  </servlet>
  <servlet>
    <servlet-name>GetCoursesAndProblems</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.GetCoursesAndProblemsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditCode</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.EditCodeServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Submit</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.SubmitServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigurationSetting</servlet-name>
    <url-pattern>/cloudcoder/configurationSetting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/cloudcoder/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCoursesAndProblems</servlet-name>
    <url-pattern>/cloudcoder/getCoursesAndProblems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCode</servlet-name>
    <url-pattern>/cloudcoder/editCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/cloudcoder/submit</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CloudCoder.html</welcome-file>
  </welcome-file-list>
  
  <!-- Listeners -->
  <listener>
    <listener-class>org.cloudcoder.app.server.submitsvc.oop.OutOfProcessSubmitService</listener-class>
  </listener>

</web-app>
