<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Context parameters -->
  <context-param>
    <!--
      Note: when the CloudCoder web application is deployed as an executable
      jar file using CloudCoderWebServer, these context parameters are
      ignored in favor of the configuration properties (cloudcoder.properties)
      defined by the user as a result of running the configure.pl script.
      
      So, the context parameters defined here are only meaningful when executing
      the webapp directly from Eclipse (as part of development).
      
      You are probably best off not modifying any of these.
    -->

    <!-- MySQL username. -->
    <param-name>cloudcoder.db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <!-- MySQL password. -->
    <param-name>cloudcoder.db.passwd</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <!-- Name of MySQL database where the CloudCoder tables are. -->
    <param-name>cloudcoder.db.databaseName</param-name>
    <param-value>cloudcoderdb</param-value>
  </context-param>
  <context-param>
    <!-- Host where MySQL server is running. -->
    <param-name>cloudcoder.db.host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <!--
      Set this to :8889 if using MAMP, otherwise leave it blank.
      Note: if the cloudcoder.db.checkmacos is set to true, the port string
      will be set for MAMP automatically if necessary.  So, there is no need to
      modify this parameter.
    -->
    <param-name>cloudcoder.db.portstr</param-name>
    <param-value></param-value>
  </context-param>
  <!-- 
    If set to true, this system property causes the webapp to automatically
    detect if it is running on MacOS, and if so, uses port 8889 to connect
    to MySQL (as is correct for MAMP).
  -->
  <context-param>
    <param-name>cloudcoder.db.checkmacos</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <!-- Port that the out of process submit service will listen on
         for connections from Builders. -->
    <param-name>cloudcoder.submitsvc.oop.port</param-name>
    <param-value>47374</param-value>
  </context-param>
  <!-- type of login service to use.  Choices include:
  		database (default): Username and passwords directly in the cloudcoder backend database
  		imap: authenticate against an imap server
  --> 
  <context-param>
	<param-name>cloudcoder.login.service</param-name>
	<param-value>database</param-value>
  </context-param>
  <!--
  	Name of keystore containing keys to be used for TLS communication
  	between builder and webapp.  Note: defaultkeystore.jks should
  	ONLY be used for development, never for deployment!
  -->
  <context-param>
    <param-name>cloudcoder.submitsvc.ssl.keystore</param-name>
    <param-value>defaultkeystore.jks</param-value>
  </context-param>
  <!-- Keystore password. -->
  <context-param>
    <param-name>cloudcoder.submitsvc.ssl.keystore.password</param-name>
    <param-value>changeit</param-value>
  </context-param>
  
  <!-- host to authenticate against, if using imap authentication
  	against a mail server. 
   -->
  <context-param>
	<param-name>cloudcoder.login.host</param-name>
	<param-value>199.36.142.222</param-value>
  </context-param>
  
  <!-- RPC servlets -->
  <servlet>
    <servlet-name>ConfigurationSetting</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.ConfigurationSettingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCoursesAndProblems</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.GetCoursesAndProblemsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditCode</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.EditCodeServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Submit</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.SubmitServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.UserServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Run</servlet-name>
    <servlet-class>org.cloudcoder.app.server.rpc.RunServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RegisterStudents</servlet-name>
    <servlet-class>org.cloudcoder.app.server.servlet.RegisterStudents</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterStudents</servlet-name>
    <url-pattern>/cloudcoder/registerStudents</url-pattern>
  </servlet-mapping>

  
  <servlet-mapping>
    <servlet-name>ConfigurationSetting</servlet-name>
    <url-pattern>/cloudcoder/configurationSetting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/cloudcoder/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCoursesAndProblems</servlet-name>
    <url-pattern>/cloudcoder/getCoursesAndProblems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCode</servlet-name>
    <url-pattern>/cloudcoder/editCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/cloudcoder/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/cloudcoder/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Run</servlet-name>
    <url-pattern>/cloudcoder/run</url-pattern>
  </servlet-mapping>
  
  <!-- Admin servlets. -->
  <servlet>
    <servlet-name>AdminProblems</servlet-name>
    <servlet-class>org.cloudcoder.app.server.admin.Problems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProblems</servlet-name>
    <url-pattern>/admin/problems/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminExerciseData</servlet-name>
    <servlet-class>org.cloudcoder.app.server.admin.ExerciseData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExerciseData</servlet-name>
    <url-pattern>/admin/exercisedata/*</url-pattern>
  </servlet-mapping>
  
  <!--  Health monitor servlet. -->
  <servlet>
    <servlet-name>Health</servlet-name>
    <servlet-class>org.cloudcoder.app.server.servlet.Health</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Health</servlet-name>
    <url-pattern>/health/*</url-pattern>
  </servlet-mapping>
  
  <!-- General filters. -->
  <filter>
    <!-- Prevent .nocache.js files, CloudCoder.html, and other important stuff from being cached. -->
    <filter-name>NocacheJsFilter</filter-name>
    <filter-class>org.cloudcoder.app.server.filter.NocacheJsFilter</filter-class>
  </filter>
  <!-- Don't cache the .nocache.js file(s). -->
  <filter-mapping>
    <filter-name>NocacheJsFilter</filter-name>
    <url-pattern>*.nocache.js</url-pattern>
  </filter-mapping>
  <!-- Don't cache the HTML page. -->
  <filter-mapping>
    <filter-name>NocacheJsFilter</filter-name>
    <url-pattern>/CloudCoder.html</url-pattern>
  </filter-mapping>
  <!--  Also don't cache the default page (which is CloudCoder.html). -->
  <filter-mapping>
    <filter-name>NocacheJsFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <!-- Don't cache the CSS styles. -->
  <filter-mapping>
    <filter-name>NocacheJsFilter</filter-name>
    <url-pattern>/CloudCoder.css</url-pattern>
  </filter-mapping>
  <!-- Don't cache Ace JavaScript files. -->
  <filter-mapping>
    <filter-name>NocacheJsFilter</filter-name>
    <url-pattern>/cloudcoder/ace/*</url-pattern>
  </filter-mapping>
  
  <!-- Admin filters. -->
  <filter>
    <filter-name>AdminProblemsAuthorizationFilter</filter-name>
    <filter-class>org.cloudcoder.app.server.admin.ProblemsAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminProblemsAuthorizationFilter</filter-name>
    <url-pattern>/admin/problems/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminProblemsAuthorizationFilter</filter-name>
    <url-pattern>/admin/exercisedata/*</url-pattern>
  </filter-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CloudCoder.html</welcome-file>
  </welcome-file-list>
  
  <!-- Listeners -->
  <listener>
    <!-- This listener configures the login provider (database, IMAP, etc.) -->
    <listener-class>org.cloudcoder.app.server.login.LoginProviderServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.cloudcoder.app.server.submitsvc.oop.OutOfProcessSubmitServiceServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.cloudcoder.app.server.persist.WebappDatabaseConfigServletContextListener</listener-class>
  </listener>
  <listener>
    <!-- Check database table schema versions - this must be the last listener. -->
    <listener-class>org.cloudcoder.app.server.persist.CheckWebappSchemaVersionsServletContextListener</listener-class>
  </listener>

</web-app>
