/bin
/log
/dummy.properties
/cloudcoderBuilder.jar
/cloudcoderBuilder-v*.jar
/VERSION
/addver.sh
/*.fifo
/*.pid
/lib/cachedir
/cachedir
/instance-*
/arthur-*
/eddie-*
/ford-*
/hotblack-*
/marvin-*
/trillian-*
/zaphod-*
