/war/cloudcoder/*
/gwt-unitCache/*
/.gwt/*
/war/WEB-INF/classes/*
/war/WEB-INF/deploy/*
/test-classes
/war/WEB-INF/lib/gwt-servlet.jar
*~
/logs
/war/WEB-INF/lib/gwt-servlet-deps.jar
/war/WEB-INF/lib/cloudcoderModelClasses.jar
/war/WEB-INF/lib/cloudCoderModelClassesPersist.jar
