/*
 * CloudCoder CSS styles.
 */
.cc-pageTitle {
	font-size: 140%;
	font-weight: bold;
}
.cc-errorText {
	color: red;
	font-style: italic;
}
.cc-problemName {
	font-weight: bold;
	font-size: 20px;
}
.cc-centered {
	margin-left: 0 auto;
	margin-right: 0 auto;
}

/*
 * Styles for StatusMessageView
 */
.cc-statusIcon {
	margin-top: 4px;
	margin-right: 8px;
}
.cc-statusMessageNone, .cc-statusMessageInformation, .cc-statusMessageError, .cc-statusMessageGoodNews,
.cc-statusMessagePending {
	font-size: 16px;
	vertical-align: 8px;
}
.cc-statusMessageInformation {
}
.cc-statusMessageError {
	color: red;
}
.cc-statusMessageGoodNews {
	color: green;
}
.cc-statusMessagePending {
}

/*
 * Emphasized button style (adapted from .gwtButton styles in clean.css).
 * We use emphasized buttons to indicate the "most important" button
 * on each page.
 */
.cc-emphButton {
  margin: 0;
  padding: 5px 7px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  font-size:120%;
  font-weight: bold;
  background: url("cloudcoder/gwt/clean/images/hborder.png") repeat-x 0px -2077px;
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 3px;
 -moz-border-radius: 3px;
}
.cc-emphButton:active {
  border: 1px inset #ccc;
}
.cc-emphButton:hover {
  border-color: #939393;
}
.cc-emphButton[disabled] {
  cursor: default;
  color: #888;
}
.cc-emphButton[disabled]:hover {
  border: 1px outset #ccc;
}
